<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>To-Do List</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <script src='/scripts/main.js'></script>
</head>
<body>
	<h1>2-do || !2-do</h1>
	<br><br><br>
	<form id="list-form" action="/api/list" method="post">
		<input type="text" name="task" placeholder="Add New Item">
		<button type="submit" class="btn btn-warning">Submit Item</button>
	</form>
	<br><br><br>
	<div id="listTarget"></div>
</body>
</html>